* {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

i {
  font-style: normal;
}

input {
  outline: none;
  padding: 0;
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.wrapper {
  width: 1240px;
  margin: 0 auto;
  /* background-color: #aae0ff; */
  background-image: url(../images/网球.png);
  background-repeat: no-repeat;
  background-position: 10% 130%;
}



/* 底部区域 */
.hpi_footer .copyright {
  height: 170px;
  padding-top: 40px;
  text-align: center;
  color: #999;
  font-size: 15px;
}

.hpi_footer .copyright p {
  line-height: 1;
  margin-bottom: 20px;
}

.hpi_footer .copyright a {
  color: #999;
  line-height: 1;
  padding: 0 10px 0 6px;
  border-right: 1px solid #999;
}

.hpi_footer .copyright a:last-child {
  border-right: none;
}

button {
  border: none;
  padding: 0;
}


/* 表单 */
.sprites {
  background-image: url(../images/sprites.png);
  background-size: 400px 400px;
  background-repeat: no-repeat;
}

.hpi-login-header {
  width: 1170px;
  height: 132px;
  margin: 0 auto;
}

.hpi-login-header .logo {
  width: 200px;
  height: 132px;
  text-indent: -999px;
  background-image: url(../../final/img/网球.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

.hpi-login-header .home {
  float: right;
  margin-top: 82px;
  font-size: 16px;
  padding-right: 24px;
  background: url(../../images/login-enter.png) no-repeat right;

}

.hpi-login-main {
  height: 488px;
}

.hpi-login-main .wrapper {
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.hpi-login-main .wrapper .box {
  width: 380px;
  box-shadow: 0px 0px 25px 0px rgba(3, 3, 3, 0.14);
  position: absolute;
  top: 60px;
  right: 100px;
  background: #fff;
  padding: 20px 40px;
}

.hpi-login-main .wrapper .box .tab-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hpi-login-main .wrapper .box .tab-nav::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  width: 1px;
  height: 20px;
  background: #ededed;
}

.hpi-login-main .wrapper .box .tab-nav a {
  font-size: 18px;
  height: 35px;
  line-height: 35px;
}

.hpi-login-main .wrapper .box .tab-nav a.active {
  border-bottom: 2px solid #17bb9b;
}

.hpi-login-main .wrapper .box .tab-pane .code {
  display: block;
  margin: 44px auto;
}

.hpi-login-main .wrapper .box .tab-pane .link {
  text-align: right;
  padding-top: 12px;
}

.hpi-login-main .wrapper .box .tab-pane .link a {
  color: #17bb9b;
}

.hpi-login-main .wrapper .box .tab-pane .input {
  border: 1px solid #17bb9b;
  width: 100%;
  height: 36px;
  margin-top: 17px;
  display: flex;
  background: #CFCDCD;
}

.hpi-login-main .wrapper .box .tab-pane .input .iconfont {
  color: #fff;
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
}

.hpi-login-main .wrapper .box .tab-pane .input input {
  flex: 1;
  padding-left: 15px;
  background: #fff;
}

.hpi-login-main .wrapper .box .tab-pane .input input::placeholder {
  color: #B3B3B3 !important;
}

.hpi-login-main .wrapper .box .tab-pane .agree {
  color: #B3B3B3;
  padding: 17px 0;
}

.hpi-login-main .wrapper .box .tab-pane .agree a {
  color: #0673B1;
}



.hpi-login-main .wrapper .box .tab-pane .agree>label input:checked+span {
  color: #17bb9b;
}

.hpi-login-main .wrapper .box .tab-pane .button {
  margin-bottom: 15px;
}

.hpi-login-main .wrapper .box .tab-pane .button .dl {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #17bb9b;
  color: #fff;
  display: block;
  font-size: 16px;
  margin-bottom: 17px;
}

.hpi-login-footer .copyright {
  height: 115px;
  padding-top: 40px;
  text-align: center;
  color: #999;
  font-size: 15px;
}



.hpi-login-footer .copyright a {
  color: #999;
  line-height: 1;
  padding: 0 10px 0 6px;
  border-right: 1px solid #999;
}

.hpi-login-footer .copyright a:last-child {
  border-right: none;
}
